@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Gasoek+One&family=Noto+Sans+KR&family=Roboto:wght@300;400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}
header .head-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  margin-top: 40px;
}
header .head-area div {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
header .head-area div .lang > a {
  font-size: 12px;
  text-decoration: none;
  color: white;
  transform: translateY(10px);
}
header .head-area div > a:hover {
  color: red;
}

footer {
  background-color: #000;
  padding: 0 40px;
  margin: 0 auto;
  color: #ffffff;
}
footer div h2 {
  padding: 30px 0;
  font-size: 25px;
  border-bottom: 1px solid #333;
}
footer div .footer-1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #333;
}
footer div .footer-1 .footer-left p {
  padding: 20px 0;
  font-size: 13px;
  white-space: pre-line;
  color: #666666;
}
footer div .footer-1 .footer-left .footer-icon img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
footer div .footer-1 .footer-right {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
footer div .footer-1 .footer-right div {
  display: flex;
  flex-direction: column;
}
footer div .footer-1 .footer-right div a {
  margin: 3px;
  font-size: 13px;
  text-decoration: none;
  color: #666666;
}
footer div .footer-1 .footer-right div a span {
  color: #999999;
}
footer div .footer-1 .footer-right div .callbtn {
  background-color: #eee;
  color: #9a9a9a;
  padding: 8px 15px;
  text-align: center;
  font-size: 0.4em;
}
footer div .footer-1 .footer-right div .callbtn:hover {
  background-color: red;
  color: white;
}
footer div .footer-icons {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
  border-bottom: 1px solid #333;
}
footer div .footer-hidden {
  display: none;
}
footer div .footer-last {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
footer div .footer-last p {
  padding: 20px 0;
  white-space: pre-line;
  font-size: 12px;
  color: #666666;
}

@media (max-width: 1024px) {
  header {
    width: 100%;
  }
  header .head-area {
    width: 95%;
    margin: 20px;
  }
  header .head-area div {
    width: 20%;
    display: flex;
    justify-content: space-between;
  }
  header .head-area div .lang > a {
    padding: 10px;
    transform: translate(10px);
  }
  header .head-area div > a:hover {
    color: red;
  }
  footer {
    background-color: #000;
    padding: 0 40px;
    color: #ffffff;
  }
  footer > div h2 {
    padding: 30px 0;
    font-size: 25px;
    border-bottom: 1px solid #333;
  }
  footer > div .footer-1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #333;
  }
  footer > div .footer-1 .footer-left {
    order: -1;
  }
  footer > div .footer-1 .footer-left p {
    padding: 20px 0;
    font-size: 13px;
    white-space: pre-line;
    color: #666666;
  }
  footer > div .footer-1 .footer-left .footer-icon img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
  footer > div .footer-1 .footer-right {
    display: none;
  }
  footer > div .footer-icons {
    width: 100%;
    display: flex;
    order: 1;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 30px 0;
    border-bottom: 1px solid #333;
  }
  footer > div .footer-last {
    border-top: 1px solid #333;
    width: 100%;
    text-align: center;
  }
  footer > div .footer-last img {
    margin-top: 30px;
  }
  footer > div .footer-last p {
    padding: 20px 0;
    white-space: pre-line;
    font-size: 12px;
    color: #666666;
  }
  footer > div .footer-hidden {
    display: block;
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 25px 20px;
  }
  footer > div .footer-hidden div {
    display: flex;
    flex-direction: column;
  }
  footer > div .footer-hidden div a {
    margin: 3px;
    font-size: 13px;
    text-decoration: none;
    color: #666666;
  }
  footer > div .footer-hidden div a span {
    color: #999999;
  }
  footer > div .footer-hidden div .callbtn {
    background-color: #eee;
    color: #9a9a9a;
    width: 80px;
    height: 25px;
    text-align: center;
    font-size: 0.8em;
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer > div .footer-hidden div .callbtn:hover {
    background-color: red;
    color: white;
  }
}
@media (max-width: 800px) {
  header {
    width: 98%;
  }
  header .head-area {
    width: 95%;
    margin: 20px;
  }
  header .head-area div {
    width: 20%;
    display: flex;
    justify-content: space-between;
  }
  header .head-area div .lang > a {
    padding: 10px;
    transform: translate(10px);
  }
  header .head-area div > a:hover {
    color: red;
  }
  footer {
    background-color: #000;
    padding: 0 40px;
    color: #ffffff;
  }
  footer > div h2 {
    padding: 30px 0;
    font-size: 25px;
    border-bottom: 1px solid #333;
  }
  footer > div .footer-1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #333;
  }
  footer > div .footer-1 .footer-left {
    order: -1;
  }
  footer > div .footer-1 .footer-left p {
    padding: 20px 0;
    font-size: 13px;
    white-space: pre-line;
    color: #666666;
  }
  footer > div .footer-1 .footer-left .footer-icon img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
  footer > div .footer-1 .footer-right {
    display: none;
  }
  footer > div .footer-icons {
    width: 100%;
    display: flex;
    order: 1;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 30px 0;
    border-bottom: 1px solid #333;
  }
  footer > div .footer-last {
    border-top: 1px solid #333;
    width: 100%;
    text-align: center;
  }
  footer > div .footer-last img {
    margin-top: 30px;
  }
  footer > div .footer-last p {
    padding: 20px 0;
    white-space: pre-line;
    font-size: 12px;
    color: #666666;
  }
  footer > div .footer-hidden {
    display: block;
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 25px 20px;
  }
  footer > div .footer-hidden div {
    display: flex;
    flex-direction: column;
  }
  footer > div .footer-hidden div a {
    margin: 3px;
    font-size: 13px;
    text-decoration: none;
    color: #666666;
  }
  footer > div .footer-hidden div a span {
    color: #999999;
  }
  footer > div .footer-hidden div .callbtn {
    background-color: #eee;
    color: #9a9a9a;
    width: 80px;
    height: 25px;
    text-align: center;
    font-size: 0.8em;
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer > div .footer-hidden div .callbtn:hover {
    background-color: red;
    color: white;
  }
}
main .mainpage {
  margin-bottom: 120px;
  position: relative;
}
main .mainpage > img {
  -o-object-fit: cover;
     object-fit: cover;
}
main .mainpage .mainpage2 {
  display: none;
}
main .mainpage img {
  width: 100%;
}
main .mainpage div {
  max-width: 1520px;
  width: 90%;
  margin: 0 auto;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}
main .mainpage div b {
  font-size: 40px;
}
main .mainpage div p {
  font-size: 15px;
  white-space: pre-line;
  letter-spacing: -0.75px;
  line-height: 1.83;
  margin: 40px 0;
}
main .mainpage div a {
  width: 10%;
  padding: 20px 15px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 14px;
  border: 1px solid white;
  position: relative;
  z-index: 1;
}
main .mainpage div a span {
  margin-right: 10px;
}
main .mainpage div a:hover::before {
  width: 100%;
  height: 100%;
}
main .mainpage div a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 0%;
  height: 100%;
  background-color: #e30613;
  transition: 0.5s;
}
main .mainp1 {
  overflow: hidden;
}
main .mainp1 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .mainp1 > div h2 {
  font-size: 40px;
}
main .mainp1 > div h2 img {
  margin-right: 10px;
}
main .mainp1 > div p {
  margin: 50px 0;
  font-size: 16.25px;
}
main .mainp1 .slide {
  width: 100%;
  position: relative;
}
main .mainp1 .slide figure {
  width: 100%;
}
main .mainp1 .slide figure .imgh {
  display: none;
}
main .mainp1 .slide figure img {
  width: 100%;
}
main .mainp1 .slide figure figcaption {
  color: white;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}
main .mainp1 .slide figure figcaption b {
  font-size: 40px;
}
main .mainp1 .slide figure figcaption p {
  font-size: 15px;
  white-space: pre-line;
  line-height: 1.83;
  margin: 50px 0;
}
main .mainp1 .slide figure figcaption span {
  margin-right: 10px;
}
main .mainp1 .slide figure figcaption a {
  padding: 15px 30px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  border: 1px solid white;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}
main .mainp1 .slide figure figcaption a:hover::before {
  width: 100%;
  height: 100%;
}
main .mainp1 .slide figure figcaption a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 0%;
  height: 100%;
  background-color: #e30613;
  transition: 0.5s;
}
main .mainp2 {
  width: 100%;
  margin: 50px 0;
}
main .mainp2 div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .mainp2 div h2 {
  font-size: 40px;
}
main .mainp2 div h2 img {
  vertical-align: text-bottom;
  margin-right: 10px;
}
main .mainp2 div p {
  margin: 50px 5px;
  font-size: 17px;
}
main .mainp2 .colors {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 120px;
}
main .mainp2 .colors a {
  text-decoration: none;
  width: calc(20% - 4px);
  margin: 2px;
}
main .mainp2 .colors a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .mainp2 .colors a p {
  color: #ffffff;
  position: absolute;
  transform: translate(30px, -60px);
  font-size: 13px;
}
main .mainp3 {
  overflow: hidden;
  margin-top: 50px;
}
main .mainp3 div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .mainp3 div h2 {
  font-size: 40px;
}
main .mainp3 div h2 img {
  vertical-align: bottom;
  margin-right: 10px;
}
main .mainp3 div p {
  margin: 30px 0;
  font-size: 17px;
  letter-spacing: -0.8px;
}
main .mainp3 .slide2 {
  position: relative;
}
main .mainp3 .slide2 .imgmini1 {
  display: none;
}
main .mainp3 .slide2 .img1 {
  width: 100%;
}
main .mainp3 .slide2 figcaption {
  width: 1520px;
  margin: 0 auto;
  color: white;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}
main .mainp3 .slide2 figcaption p {
  margin: 20px 0;
  white-space: pre-line;
  font-size: 15px;
  line-height: 1.83;
}
main .mainp3 .slide2 figcaption a {
  padding: 20px 40px;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  border: 1px solid white;
  position: relative;
  z-index: 1;
  display: inline-block;
}
main .mainp3 .slide2 figcaption a:hover::before {
  width: 100%;
  height: 100%;
}
main .mainp3 .slide2 figcaption span {
  margin-right: 10px;
}
main .mainp3 .slide2 figcaption a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 0%;
  height: 100%;
  background-color: #e30613;
  transition: 0.5s;
}
main .mainp4 {
  margin: 200px 0;
}
main .mainp4 .mainp4-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .mainp4 .mainp4-h2 h2 {
  font-size: 40px;
}
main .mainp4 .mainp4-h2 h2 img {
  vertical-align: text-bottom;
  margin-right: 10px;
}
main .mainp4 .mainp4-h2 p {
  margin: 50px 0;
  font-size: 17px;
}
main .mainp4 .slide3 ul {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
main .mainp4 .slide3 ul li {
  width: 100%;
  height: 100%;
}
main .mainp4 .slide3 ul li figure {
  margin: 0 10px;
}
main .mainp4 .slide3 ul li figure img {
  width: 100%;
  margin-bottom: 50px;
}
main .mainp4 .slide3 ul li figure div b {
  display: block;
  font-size: 23px;
  color: #282828;
  margin-bottom: 20px;
}
main .mainp4 .slide3 ul li figure div p {
  font-size: 16px;
  white-space: pre-line;
  color: #666666;
  overflow: hidden;
  line-height: 2em;
  letter-spacing: -0.75px;
  margin-bottom: 50px;
}
main .mainp4 .slide3 ul li figure div a {
  padding: 15px 40px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  border: 1px solid #333;
  position: relative;
  z-index: 1;
}
main .mainp4 .slide3 ul li figure div a span {
  margin-right: 10px;
}
main .mainp4 .slide3 ul li figure div a:hover::before {
  width: 100%;
  height: 100%;
}
main .mainp4 .slide3 ul li figure div a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 0%;
  height: 100%;
  background-color: #e30613;
  transition: 0.5s;
}

@media (max-width: 1024px) {
  main .mainpage {
    margin-bottom: 60px;
  }
  main .mainpage img {
    width: 100%;
    height: 100vh;
  }
  main .mainpage div b {
    font-size: 2.5em;
  }
  main .mainpage div p {
    font-size: 0.9em;
    letter-spacing: -2px;
    margin: 20px 0;
  }
  main .mainpage div a {
    width: 15%;
    font-size: 1em;
    padding: 18px 10px;
  }
  main .mainpage div a span {
    margin-right: 10px;
  }
  main .mainpage div a:hover::before {
    width: 100%;
    height: 100%;
  }
  main .mainpage div a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 0%;
    height: 100%;
    background-color: #e30613;
    transition: 0.5s;
  }
  main .mainp1 {
    overflow: hidden;
  }
  main .mainp1 > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  main .mainp1 > div h2 {
    font-size: 40px;
  }
  main .mainp1 > div h2 img {
    margin-right: 10px;
  }
  main .mainp1 > div > p {
    margin: 30px 0;
    font-size: 16.25px;
    width: 35%;
    text-align: center;
  }
  main .mainp1 .slide {
    width: 100%;
  }
  main .mainp1 .slide figure img {
    width: 100%;
    height: 50vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .mainp1 .slide figure figcaption {
    position: absolute;
    left: 3%;
    top: 45%;
    transform: translateY(-50%);
  }
  main .mainp1 .slide figure figcaption b {
    font-size: 2.2em;
  }
  main .mainp1 .slide figure figcaption p {
    font-size: 0.8em;
    white-space: pre-line;
    line-height: 1.83;
    margin: 20px 0;
  }
  main .mainp1 .slide figure figcaption span {
    margin-right: 10px;
  }
  main .mainp1 .slide figure figcaption a {
    padding: 15px 30px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    border: 1px solid white;
    margin-top: 30px;
    position: relative;
    z-index: 1;
  }
  main .mainp2 {
    width: 100%;
  }
  main .mainp2 div {
    margin-top: 40px;
  }
  main .mainp2 div h2 {
    font-size: 40px;
  }
  main .mainp2 div h2 img {
    vertical-align: text-bottom;
    margin-right: 10px;
  }
  main .mainp2 div > p {
    margin: 30px 5px;
    font-size: 17px;
    width: 45%;
    text-align: center;
  }
  main .mainp2 .colors {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 120px;
  }
  main .mainp2 .colors a {
    text-decoration: none;
    width: calc(20% - 4px);
    margin: 2px;
  }
  main .mainp2 .colors a img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .mainp2 .colors a p {
    transform: translate(20px, -35px);
  }
  main .mainp3 {
    overflow: hidden;
    margin-top: 50px;
  }
  main .mainp3 div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  main .mainp3 div h2 {
    font-size: 40px;
  }
  main .mainp3 div h2 img {
    vertical-align: bottom;
    margin-right: 10px;
  }
  main .mainp3 div > p {
    margin: 30px 0;
    font-size: 17px;
    letter-spacing: -0.8px;
    width: 26%;
    text-align: center;
  }
  main .mainp3 .slide2 .img1 {
    height: 53vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .mainp3 .slide2 figcaption {
    width: 1520px;
    margin: 0 auto;
    color: white;
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
  }
  main .mainp3 .slide2 figcaption p {
    margin: 20px 0;
    white-space: pre-line;
    font-size: 0.8em;
    line-height: 1.83;
  }
  main .mainp3 .slide2 figcaption a {
    padding: 15px 30px;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    border: 1px solid white;
    position: relative;
    z-index: 1;
    display: inline-block;
  }
  main .mainp3 .slide2 figcaption a:hover::before {
    width: 100%;
    height: 100%;
  }
  main .mainp3 .slide2 figcaption span {
    margin-right: 10px;
  }
  main .mainp3 .slide2 figcaption a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 0%;
    height: 100%;
    background-color: #e30613;
    transition: 0.5s;
  }
  main .mainp4 {
    margin-bottom: 200px;
  }
  main .mainp4 .mainp4-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  main .mainp4 .mainp4-h2 h2 {
    font-size: 40px;
  }
  main .mainp4 .mainp4-h2 h2 img {
    vertical-align: text-bottom;
    margin-right: 10px;
  }
  main .mainp4 .mainp4-h2 > p {
    margin: 50px 0;
    font-size: 17px;
    width: 38%;
    text-align: center;
  }
  main .mainp4 .slide3 ul {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
  main .mainp4 .slide3 ul li figure img {
    width: 100%;
    margin-bottom: 50px;
  }
  main .mainp4 .slide3 ul li figure div b {
    font-size: 23px;
    color: #282828;
  }
  main .mainp4 .slide3 ul li figure div p {
    font-size: 0.9em;
    white-space: pre-line;
    color: #666666;
    line-height: 1.8em;
    letter-spacing: -0.75px;
  }
  main .mainp4 .slide3 ul li figure div a {
    padding: 15px 40px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    border: 1px solid #333;
    position: relative;
    z-index: 1;
  }
  main .mainp4 .slide3 ul li figure div a span {
    margin-right: 10px;
  }
  main .mainp4 .slide3 ul li figure div a:hover::before {
    width: 100%;
    height: 100%;
  }
  main .mainp4 .slide3 ul li figure div a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 0%;
    height: 100%;
    background-color: #e30613;
    transition: 0.5s;
  }
}
@media (max-width: 800px) {
  main .mainpage .mainpage2 {
    display: block;
  }
  main .mainpage img {
    display: none;
  }
  main .mainpage div {
    max-width: 1520px;
    width: 98%;
    margin: 0 auto;
    position: absolute;
    top: 80%;
    left: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  main .mainpage div b {
    font-size: 2em;
  }
  main .mainpage div p {
    width: 95%;
    font-size: 0.8em;
    white-space: normal;
    letter-spacing: -0.75px;
    line-height: 1.83;
  }
  main .mainpage div a {
    width: 15%;
    margin: 0 auto;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 14px;
    border: 1px solid white;
    position: relative;
    z-index: 1;
    margin-top: 10px;
  }
  main .mainpage div a span {
    margin-right: 10px;
  }
  main .mainpage div a:hover::before {
    width: 100%;
    height: 100%;
  }
  main .mainpage div a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 0%;
    height: 100%;
    background-color: #e30613;
    transition: 0.5s;
  }
  main .mainp1 {
    overflow: hidden;
  }
  main .mainp1 > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  main .mainp1 > div h2 {
    font-size: 2em;
  }
  main .mainp1 > div h2 img {
    margin-right: 10px;
  }
  main .mainp1 > div p {
    font-size: 0.8em;
    width: 35%;
  }
  main .mainp1 .slide {
    width: 100%;
    position: relative;
  }
  main .mainp1 .slide figure {
    width: 100%;
  }
  main .mainp1 .slide figure .imgh {
    display: block;
    height: 100%;
  }
  main .mainp1 .slide figure img {
    display: none;
  }
  main .mainp1 .slide figure figcaption {
    color: white;
    position: absolute;
    left: 3%;
    top: 85%;
  }
  main .mainp1 .slide figure figcaption b {
    font-size: 1.8em;
  }
  main .mainp1 .slide figure figcaption p {
    width: 95%;
    font-size: 0.7em;
    line-height: 1.83;
    white-space: normal;
  }
  main .mainp1 .slide figure figcaption span {
    margin-right: 10px;
  }
  main .mainp1 .slide figure figcaption a {
    padding: 10px 25px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    border: 2px solid white;
    margin-top: 20px;
    position: relative;
    z-index: 1;
    left: 40%;
  }
  main .mainp1 .slide figure figcaption a:hover::before {
    width: 100%;
    height: 100%;
  }
  main .mainp1 .slide figure figcaption a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 0%;
    height: 100%;
    background-color: #e30613;
    transition: 0.5s;
  }
  main .mainp2 {
    width: 100%;
    margin: 50px 0;
  }
  main .mainp2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  main .mainp2 div h2 {
    font-size: 2em;
  }
  main .mainp2 div h2 img {
    vertical-align: text-bottom;
    margin-right: 10px;
  }
  main .mainp2 div p {
    width: 43%;
    line-height: 1.5;
    font-size: 0.8em;
  }
  main .mainp2 .colors {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 120px;
  }
  main .mainp2 .colors a {
    text-decoration: none;
    width: calc(50% - 4px);
    margin: 2px;
  }
  main .mainp2 .colors a img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .mainp2 .colors a p {
    color: #ffffff;
    position: absolute;
    transform: translate(30px, -60px);
    font-size: 13px;
  }
  main .mainp3 {
    overflow: hidden;
    margin-top: 50px;
  }
  main .mainp3 div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  main .mainp3 div h2 {
    font-size: 1.8em;
  }
  main .mainp3 div h2 img {
    vertical-align: bottom;
    margin-right: 10px;
  }
  main .mainp3 div p {
    width: 29%;
    margin: 30px 0;
    font-size: 0.8em;
    letter-spacing: 0.9px;
  }
  main .mainp3 .slide2 {
    position: relative;
  }
  main .mainp3 .slide2 .imgmini1 {
    display: block;
  }
  main .mainp3 .slide2 .img1 {
    display: none;
  }
  main .mainp3 .slide2 figcaption {
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
    color: white;
    position: absolute;
    left: 3%;
    top: 85%;
  }
  main .mainp3 .slide2 figcaption img {
    width: 30%;
  }
  main .mainp3 .slide2 figcaption p {
    margin: 20px 0;
    white-space: pre-line;
    font-size: 0.7em;
    line-height: 1.83;
    white-space: normal;
  }
  main .mainp3 .slide2 figcaption a {
    padding: 10px 30px;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    border: 1px solid white;
    position: relative;
    left: 40%;
    z-index: 1;
  }
  main .mainp3 .slide2 figcaption a:hover::before {
    width: 100%;
    height: 100%;
  }
  main .mainp3 .slide2 figcaption span {
    margin-right: 10px;
  }
  main .mainp3 .slide2 figcaption a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 0%;
    height: 100%;
    background-color: #e30613;
    transition: 0.5s;
  }
  main .mainp4 {
    margin: 200px 0;
  }
  main .mainp4 .mainp4-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  main .mainp4 .mainp4-h2 h2 {
    font-size: 1.8em;
  }
  main .mainp4 .mainp4-h2 h2 img {
    vertical-align: text-bottom;
    margin-right: 10px;
  }
  main .mainp4 .mainp4-h2 p {
    width: 35%;
    font-size: 0.8em;
    margin: 30px;
  }
  main .mainp4 .slide3 ul {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 80vh;
    overflow: hidden;
    margin: 0 auto;
  }
  main .mainp4 .slide3 ul li figure img {
    width: 100%;
  }
  main .mainp4 .slide3 ul li figure div b {
    font-size: 1.2em;
    color: #282828;
  }
  main .mainp4 .slide3 ul li figure div p {
    font-size: 0.7em;
    white-space: normal;
    color: #666666;
    line-height: 2em;
    letter-spacing: -0.75px;
  }
  main .mainp4 .slide3 ul li figure div a {
    padding: 10px 25px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    border: 1px solid #333;
    position: relative;
    z-index: 1;
  }
  main .mainp4 .slide3 ul li figure div a span {
    margin-right: 10px;
  }
  main .mainp4 .slide3 ul li figure div a:hover::before {
    width: 100%;
    height: 100%;
  }
  main .mainp4 .slide3 ul li figure div a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 0%;
    height: 100%;
    background-color: #e30613;
    transition: 0.5s;
  }
}/*# sourceMappingURL=index.css.map */